$background: #536495;
$secondary: rgba(100, 14, 175, 0.711);
$backgroundLighter: lighten($background, 25%);
$backgroundLight: lighten($background, 50%);
$backgroundDarker: darken($background, 10%);
$backgroundDark: darken($background, 20%);